Source: simplescreenrecorder
Section: video
Priority: optional
Maintainer: Maarten Baert (v2) <maarten-baert@hotmail.com>
Build-Depends: debhelper (>= 9), dh-autoreconf, pkg-config, libx11-dev, libxext-dev, libxfixes-dev, qt4-qmake, libqt4-dev, libavformat-dev, libavcodec-dev, libavutil-dev, libswscale-dev, libasound2-dev, libpulse-dev, libjack-dev, libgl1-mesa-dev, libglu1-mesa-dev, libxi-dev
Standards-Version: 3.9.5
Homepage: http://www.maartenbaert.be/simplescreenrecorder/
Vcs-Git: git://github.com/MaartenBaert/ssr.git
Vcs-Browser: https://github.com/MaartenBaert/ssr


Package: libssr-glinject
Architecture: i386
Multi-Arch: same
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Screen recorder that supports X11 and OpenGL (lib)
 SimpleScreenRecorder is a feature-rich screen recorder that supports
 X11 and OpenGL.
 It has a Qt-based graphical user interface. It can record the entire
 screen or part of it, or record OpenGL applications directly. The
 recording can be paused and resumed at any time.
 Many different file formats and codecs are supported.
 .
 This package contains the GLInject library.

Package: libssr-glinject-dbg
Architecture: i386
Depends: ${misc:Depends},
         simplescreenrecorder (= ${binary:Version}),
         libssr-glinject (= ${binary:Version})
Description: Screen recorder that supports X11 and OpenGL, debugging symbols
 SimpleScreenRecorder is a feature-rich screen recorder that supports
 X11 and OpenGL.
 It has a Qt-based graphical user interface. It can record the entire
 screen or part of it, or record OpenGL applications directly. The
 recording can be paused and resumed at any time.
 Many different file formats and codecs are supported.
 .
 This package contains the GLInject library, debugging symbols.

Package: simplescreenrecorder-common
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends}
Description: Screen recorder that supports X11 and OpenGL (common files)
 SimpleScreenRecorder is a feature-rich screen recorder that supports
 X11 and OpenGL.
 It has a Qt-based graphical user interface. It can record the entire
 screen or part of it, or record OpenGL applications directly. The
 recording can be paused and resumed at any time.
 Many different file formats and codecs are supported.
 .
 This package contains the common files.

Package: simplescreenrecorder
Architecture: i386 amd64
Multi-Arch: foreign
Depends: ${shlibs:Depends}, ${misc:Depends},
         simplescreenrecorder-common (= ${source:Version})
Recommends: libssr-glinject, x264
Description: Screen recorder that supports X11 and OpenGL
 SimpleScreenRecorder is a feature-rich screen recorder that supports
 X11 and OpenGL.
 It has a Qt-based graphical user interface. It can record the entire
 screen or part of it, or record OpenGL applications directly. The
 recording can be paused and resumed at any time.
 Many different file formats and codecs are supported.
 .
 This package contains the main program.
